body {
  margin: 0;
  display: flex;
  font-family: Arial, sans-serif;
  height: 100vh;
}

/* LEFT PANEL */
.left {
  width: 30%;
  background: #0f172a;
  color: white;
  padding: 30px;
}

.left h1 {
  margin-bottom: 10px;
}

/* MENU */
.menu button {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 12px;
  background: #1e293b;
  color: white;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.menu button:hover {
  background: #334155;
}

/* RIGHT PANEL */
.right {
  width: 70%;
  padding: 40px;
  background: #f8fafc;
  transition: 0.3s;
}
